#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias m="cd ~/Manhihi"
alias mp="cd ~/Manhihi/Projects"
alias g="git"

# IP addresses
alias ip="curl ifconfig.me"
alias localip="ipconfig add"
